.row{
    .col-12{
        .cart-table{
  
            .table{
               
                .navbar{
                    display: table-row;
                    vertical-align: inherit;
                    border-color: inherit;
                    
                }
            }
        }
    }
}